@model NewsPaperAdvertisementManagement.Models.Admin
@{
    ViewBag.Title = "Admin Login";
}

<br />
<br />
<br />
<body style="background-image:url(../Image/SiteResource/background.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;overflow:hidden;">
    <div class="container" style="background: rgba(255, 255, 255, 0.8)">
        <h2 class="col-md-offset-5"><b>Admin Login</b></h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="text-align:center; font-size:16px; ">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger", @id = "patientValidationSummary" })

                <div class="col-md-6 col-md-offset-3">


                    <div class="form-group">
                        @Html.LabelFor(model => model.AdminEmailId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AdminEmailId, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.AdminEmailId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AdminPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AdminPassword, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.AdminPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input id="loginPatient" type="submit" value="Login" style="background-color:darkcyan;color:white; font-size:18px;" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>}
        <br />
    </div>
</body>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}